.swiper-container {
  position: relative
}
// indicator
.swiper-indicator-container {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-indicator-item {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  border-radius: 50%;
  background: #fff;
  &.active {
    background: var(--theme-color);
  }
}