.pl-item {
  display: flex;
  align-items: center;
  padding-left: 10px;

  &-num {
    width: 40px;
    text-align: center;
    font-size: 17px;
    color: #999;
  }

  &-info {
    flex: 1 1 auto;
    padding: 6px 0;
  }

  &-album {
    font-size: 12px;
    color: #888
  }
}

.singer-hot-song {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}